/*
.home {
    background-image: url('image/gametime.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   
    
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
